# docker-compose.yml
DEV_DB_NAME=logbull
DEV_DB_USERNAME=postgres
DEV_DB_PASSWORD=Q1234567
POSTGRES_PASSWORD=Q1234567
#app
ENV_MODE=development
# db
DATABASE_DSN=host=dev-db user=postgres password=Q1234567 dbname=logbull port=5437 sslmode=disable
DATABASE_URL=postgres://postgres:Q1234567@dev-db:5437/logbull?sslmode=disable
# migrations
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://postgres:Q1234567@dev-db:5437/logbull?sslmode=disable
GOOSE_MIGRATION_DIR=./migrations
# valkey
VALKEY_HOST=localhost
VALKEY_PORT=6379
VALKEY_USERNAME=
VALKEY_PASSWORD=
VALKEY_IS_SSL=false
# victorialogs
VICTORIALOGS_URL=http://localhost
VICTORIALOGS_PORT=9428
# oauth
GITHUB_CLIENT_ID=test
GITHUB_CLIENT_SECRET=test
GOOGLE_CLIENT_ID=test
GOOGLE_CLIENT_SECRET=test